.gamediv {
    float:left;
    width: 30%;
    /* padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:.20%;
    background-color: #1E1E1E;
}
.username{
	padding-right: 20px !important;
	font-family: 'Allerta Stencil', sans-serif;
}