.navbar-text{
	margin-right: 20px;
}
.navbar{
	margin-bottom: 0 !important;
}
.username{
	padding-right: 20px !important;
}
.banner{
	width: 100%;
	display: block;
}
.bannerImage{
	width: 100%;
	display: block;
	margin-bottom: 5px;
}
.btn-group{
	margin-left: 41%;
	margin-bottom: 5px;
}
.table-condensed th{
	text-align: center;
}
.table-condensed td{
	text-align: center;
}
.meny {
	display: none;
	padding: 20px;
	overflow: auto;
	background: black;
	color: #eee;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.meny h2{
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	padding: 0px;
}
.meny-arrow {
	position: absolute;
	z-index: 10;

	border: 10px solid transparent;

	-webkit-transition: opacity 0.4s ease 0.4s;
	   -moz-transition: opacity 0.4s ease 0.4s;
	    -ms-transition: opacity 0.4s ease 0.4s;
	     -o-transition: opacity 0.4s ease 0.4s;
	        transition: opacity 0.4s ease 0.4s;
}
	.meny-left .meny-arrow {
		left: 14px;
		top: 50%;
		margin-top: -16px;
		border-left: 16px solid #333;
	}
	.meny-right .meny-arrow {
		right: 14px;
		top: 50%;
		margin-top: -16px;
		border-right: 16px solid #333;
	}
	.meny-top .meny-arrow {
		left: 50%;
		top: 14px;
		margin-left: -16px;
		border-top: 16px solid #333;
	}
	.meny-bottom .meny-arrow {
		left: 50%;
		bottom: 14px;
		margin-left: -16px;
		border-bottom: 16px solid #333;
	}
	.meny-active .meny-arrow {
		opacity: 0;

		-webkit-transition: opacity 0.2s ease;
		   -moz-transition: opacity 0.2s ease;
		    -ms-transition: opacity 0.2s ease;
		     -o-transition: opacity 0.2s ease;
		        transition: opacity 0.2s ease;
	}
ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}
li{
	padding-top: 10px;
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
}
.teamInfo{
	text-align: center;
}
.gameSchedule {
	margin-top: 10px;
	font-size: 12px;
	background: white;
}
.gameSchedule th{
	text-align: center;
}
.latestPost{
	margin-bottom: 10px;
}
