html{
	height: 100%;
}
body{
	background-image: url("../../assets/images/backgroundImages/welcomebackground.jpg");
	/*background-repeat: no-repeat;*/
	background-size: cover;
	height: 110%;
}
.contents{
	height: 100%;
	background: rgba(255, 255, 255, 0);
}
.navbar-text{
	margin-right: 20px;
}
.navbar{
	background: url("../images/backgroundImages/egg_shell_@2X.png");
	margin-bottom: 0 !important;
}
.username{
	font-family: 'Allerta Stencil', sans-serif;
	padding-right: 20px !important;
}
.meny {
	display: none;
	height: 100%;
	padding: 20px;
	overflow: auto;
	background-image: url("../images/backgroundImages/tweed_@2X.png");
	color: #eee;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}
.meny h2{
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	padding: 0px;
}
.meny-arrow {
	position: absolute;
	z-index: 10;
	border: 10px solid transparent;
	-webkit-transition: opacity 0.4s ease 0.4s;
		-moz-transition: opacity 0.4s ease 0.4s;
		-ms-transition: opacity 0.4s ease 0.4s;
			-o-transition: opacity 0.4s ease 0.4s;
			transition: opacity 0.4s ease 0.4s;
}
.meny-left .meny-arrow {
	left: 14px;
	top: 50%;
	margin-top: -16px;
	border-left: 16px solid #333;
}
.meny-right .meny-arrow {
	right: 14px;
	top: 50%;
	margin-top: -16px;
	border-right: 16px solid #333;
}
.meny-top .meny-arrow {
	left: 50%;
	top: 14px;
	margin-left: -16px;
	border-top: 16px solid #333;
}
.meny-bottom .meny-arrow {
	left: 50%;
	bottom: 14px;
	margin-left: -16px;
	border-bottom: 16px solid #333;
}
.meny-active .meny-arrow {
	opacity: 0;
	-webkit-transition: opacity 0.2s ease;
		-moz-transition: opacity 0.2s ease;
		-ms-transition: opacity 0.2s ease;
			-o-transition: opacity 0.2s ease;
			transition: opacity 0.2s ease;
}
ul{
	list-style-type: none;
	text-align: center;
	padding: 0px;
}
li{
	padding-top: 10px;
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	color: rgb(255, 255, 255);
}
#hideMePlease {
	display:none;
}
/*************** MODAL ****************/
.modal {
	display: none; /* Hide this Initially */
	z-index: 2; /* Sit over Everything */
	padding-top: 200px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	height: 200%;
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	/*background-color: url("../../assets/images/backgroundImages/modalBackground.jpeg")*/
}

.modal-header, .modal-content {
	text-align: center;
}

.modal-content {
	background-color: #bbbbcc;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	font-family: Chalkboard;
}

.close {
	color: #000000;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-footer {
	color: snow;
}

#modalButton, #modalButton1 {
	text-align: center;
	color: #1E1E1E;
}

.gifImgStyle {
	height: 150px;
	width: 150px;
	margin: 15px;
}

.factImgButton {
	background: #b6e8f1;
	font-family: Chalkboard;
	font-size: 18px;
}

#gifOrFactsTarget {
	font-size: 25px;
}

.factGifHead {
	font-size: 35px;
}

#gifButton, #factButton {
	z-index: 1;
}